<div>
    <h3>Hi {{.UserEmail}},</h3>
    <p>Your password has been successfully changed. If you did not perform this action, please reset your password immediately by requesting a password reset.</p>
</div>
